USE [master]
GO
/****** Object:  Database [PollutionMonitor]    Script Date: 29.06.2019 23:00:33 ******/
CREATE DATABASE [PollutionMonitor]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PollutionMonitor', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\PollutionMonitor.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PollutionMonitor_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\PollutionMonitor_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PollutionMonitor].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PollutionMonitor]
GO
USE [PollutionMonitor]
GO
/****** Object:  Table [dbo].[data]    Script Date: 29.06.2019 23:00:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[data](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[idx] [int] NULL,
	[city] [varchar](50) NULL,
	[aqi] [int] NULL,
	[aqitime] [datetime] NULL,
	[pm10] [real] NULL,
	[pm10time] [datetime] NULL,
	[o3] [real] NULL,
	[o3time] [datetime] NULL,
	[no2] [real] NULL,
	[no2time] [datetime] NULL,
	[so2] [real] NULL,
	[so2time] [datetime] NULL,
	[wind] [real] NULL,
	[windtime] [datetime] NULL,
	[pressure] [real] NULL,
	[pressuretime] [datetime] NULL,
	[humidity] [real] NULL,
	[humiditytime] [datetime] NULL,
	[temperature] [real] NULL,
	[temperaturetime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
